name: Scrape LinkedIn Invitations

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 20

    - run: npm install  # Corrige falta de package-lock

    - run: npx puppeteer browsers install chrome  # Simplificado

    - run: npm run scrape
      env:
        LINKEDIN_EMAIL: ${{ secrets.LINKEDIN_EMAIL }}
        LINKEDIN_PASSWORD: ${{ secrets.LINKEDIN_PASSWORD }}
        FIREBASEPROJECTID: ${{ secrets.FIREBASEPROJECTID }}
        FIREBASEPRIVATEKEY: |-
          ${{ secrets.FIREBASEPRIVATEKEY }}
        FIREBASECLIENTEMAIL: ${{ secrets.FIREBASECLIENTEMAIL }}
